{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
     <h3>Add Comment</h3>
          <form method = "POST" enctype="multipart/form-data">
               {% csrf_token %}
               {% for field in form %}
                     <div class="mb-3">
                         <label for ="exampleInputPassword1" class="form-label">{{ field.label }}</label>
                          {{field}}
                    </div>
               {% endfor %}
               <input class="btn btn-primary" type="submit" value="submit">
</div>
{% endblock content %}