body {
    background-color: rgb(202, 240, 247);
}

.section1 {
    background-color: #fff;
    text-align: center;
    padding: 1em;
}

.navigation-bar {
    padding-top: 20px;
    background-color: gray;
    height: 80px;
    display: flex;
    justify-content: center;
}

.nav-link {
    color: #fff;
}

.hero {
    padding-top: 50px;
    background-color: rgb(16, 3, 73);
    height: 70vh;
    color: #fff;
}

#profile-pic {
    height: 280px;
    width: 280px;
    object-fit: cover;
    border-radius: 50%;
}

.hero-content {
    width: 900px;
    margin: 0 auto;
    padding: 2em;
}

.hero-content-intro {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.intro-name {
    font-size: 65px;
    font-weight: 800;
}

.hero-content-subintro {
    margin-top: 2em;
    text-align: center;
    letter-spacing: 5px;
}

.description {
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
}

.slogan {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.project-heading {
    font-size: 50px;
    margin-top: 10px;
}

.project-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.project-column {
    min-width: 250px;
}

.project-thumbnail {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.project-body {
    background-color: #fff;
    padding: 5px;
    border-radius: 50px;
    font-size: 20px;
}

.project-body h5 {
    font-size: 1.5em;
    text-align: center;
}

.about-contents {
    font-size: 20px;
    margin-bottom: 2em;
}

.about-wrapper-heading {
    font-size: 50px;
    margin-top: 1em;
}

.about-wrapper {
    margin-top: 2em;
    margin-bottom: 2em;
}

.about-wrapper h3 {
    font-size: 30px;
}

.about-wrapper p {
    font-size: 20px;
}

.skills-wrapper {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.skills-tag {
    background-color: rgb(167, 250, 250);
    width: fit-content;
    padding: 5px 20px;
    border-radius: 40px;
}

img.project-image {
    width: 60%;
    height: 500px;
    object-fit: contain;
    position: relative;
    top: 20px;
    left: 250px;
    margin-bottom: 2em;
}

.project-title {
    text-align: center;
}

@media (max-width:1000px) {
    .hero-content-intro {
        flex-direction: column;
    }
    .project-wrapper {
        grid-template-columns: 1fr;
    }
}